.splash {
  height: 100vh;
  background-color: #423352;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cairo", sans-serif;
}
.location {
    color: #FFF600;
    font-family: "Cairo", sans-serif;
  }
.p-loader {
    font-size: 18px;
    margin-top: -5px;
    font-weight: 300;
  }
.h-loader {
    font-size: 48px;
    margin-bottom: -10px;
    font-weight: 800;
  }
