@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Cascadia+Code:ital,wght@0,200..700;1,200..700&display=swap');
.splash {
  height: 100vh;
  background-color: #423352;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cairo", sans-serif;
}
.location {
    color: #FFF600;
    font-family: "Cairo", sans-serif;
    font-size: 22px;
  }
.p-loader {
    font-size: 22.46px;
    margin-top: -5px;
    font-weight: 300;
  }
.h-loader {
    font-size: 48px;
    margin-bottom: -10px;
    font-weight: 800;
  }
